= semantic_form_for @user do |f|
  =# f.error_messages
  = f.inputs do
    = f.input :username, :required => true
    = f.input :email, :required => true
    = f.input :role, :required => true, :as => :select, :collection => User::ROLES, :include_blank => false
    = f.input :stocks, :as => :check_boxes, :collection => Stock.sorted.all
    - if @user.new_record?
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
  = f.buttons do
    = f.commit_button "Сохранить"
    %li{:class=>"link"}
      или
      = link_to 'Вернутся', collection_url

