- title "Редактировать пользователя"

= semantic_form_for @user do |f|
  = f.inputs do
    = f.input :username, :required => true, :input_html => {:readonly => true}
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
  = f.buttons do
    = f.commit_button "Сохранить"
    %li{:class=>"link"}
      или
      = link_to 'Вернутся', collection_path

