- stock_item = history_item
%tr{:class => "history equipment#{equipment_id}"}
  %td
  %td.right
    = stock_item.doc_type_text
    от
    = l(stock_item.stock_date)
    склад
    = "\"#{stock_item.stock.name}\""
  %td.right= stock_item.quantity if stock_item.income?
  %td.right= stock_item.quantity if stock_item.outcome?
  %td.right
  %td.center

